html {
	box-sizing: border-box;
}

*, *:before, *:after{
box-sizing: inherit;
}

.card-container{
    background-color: #808080;
}

#email-icon{
    display:inline-block;
}

#email-input{
    display:inline-block;
}



